body {
  background-color: #282c34;
  color: white;
}
a {
  color: grey
}
.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: 10em;
}

.StarList {
  text-align: left;
}


